@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');  
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins !important;
  user-select: none;
  text-decoration: none !important;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      color:rgb(90,90,90);
      outline: none !important;
}
*::-webkit-scrollbar {
    width: 5px !important;
  }
  *::-webkit-scrollbar-thumb {
  background-color: rgb(160, 160, 160) !important;
  border-radius: 12px !important;
  }
  #logo{
      height: 50px;
  }
  a{
      outline: none !important;
  }
  img{
      border-radius: 6px !important;
  }
  #imgfea{
      margin-top:9em;
  }
  #dd:hover{
      transition: .6s;
      background-color: rgba(232,232,232);
  }